In [15]:
import asyncio
import itertools
import json
import re
import time
from collections import Counter
from urllib.request import urlopen


import dash_bootstrap_components as dbc
import mysql.connector
import nltk
import numpy as np
import pandas as pd
import plotly.express as px  # (version 4.7.0 or higher)
import stylecloud
from dash import Dash, dcc, html  # pip install dash (version 2.0.0 or higher)
# from nltk.tokenize import word_tokenize
import dash_extensions as de
from datetime import datetime
import datetime as dt
import time
import itertools
import dash_daq as daq
from wordcloud import WordCloud, ImageColorGenerator
from PIL import Image
import matplotlib.pyplot as plt

from sqlalchemy import create_engine
from sqlalchemy.dialects.mysql import insert

import warnings
# warnings.filterwarnings("ignore")

In [ ]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection


pw = "Sentiment"

connection = create_db_connection("database.cyg6qupmqicu.ap-southeast-2.rds.amazonaws.com", "admin", pw,
                                  "HTL_SENTIMENT")

df = pd.read_sql("SELECT * FROM tweet;", con=connection)

In [7]:
df.head()

,id,original_tweet,tweet,lat,lng,place,date,sentiment,cleaned_tweet
0,1470219245141172224,@melblawyer26 @GiselleWak Perhaps if you had s...,perhaps studied medicine instead law comment w...,-27.6167,152.7667,Queensland,2021-12-13 13:29:18,0,perhaps studied medicine instead law comment w...
1,1470230849996181504,I'm at Essential Oils &amp; Wellness with Fion...,im essential oils amp wellness fiona californi...,-36.7500,144.2667,Victoria,2021-12-13 14:15:24,0,essential wellness gully
2,1470305021078081536,@susan_taylor07 Removing franking credits wasn...,removing franking credits wasnt scare campaign...,-27.6167,152.7667,Queensland,2021-12-13 19:10:08,0,removing franking wasnt scare campaign bloody ...
3,1470353065857351684,@Hateonions1 Go to your apps &amp; click on th...,go apps amp click service nsw come update opti...,-27.6167,152.7667,Queensland,2021-12-13 22:21:03,0,go click service come update option click yes ...
4,1470359518949167106,@Alannahjoynes @DamoMK @OptusStadium You can l...,link medicare account one state checkin apps r...,-27.6167,152.7667,Queensland,2021-12-13 22:46:41,0,link account one state really difficult scan s...

In [5]:
df[df.date < '2022-09-21 00:00:00']

,id,original_tweet,tweet,lat,lng,place,date,sentiment,cleaned_tweet
0,1470219245141172224,@melblawyer26 @GiselleWak Perhaps if you had s...,perhaps studied medicine instead law comment w...,-27.6167,152.7667,Queensland,2021-12-13 13:29:18,0,perhaps studied medicine instead law comment w...
1,1470230849996181504,I'm at Essential Oils &amp; Wellness with Fion...,im essential oils amp wellness fiona californi...,-36.7500,144.2667,Victoria,2021-12-13 14:15:24,0,essential wellness gully
2,1470305021078081536,@susan_taylor07 Removing franking credits wasn...,removing franking credits wasnt scare campaign...,-27.6167,152.7667,Queensland,2021-12-13 19:10:08,0,removing franking wasnt scare campaign bloody ...
3,1470353065857351684,@Hateonions1 Go to your apps &amp; click on th...,go apps amp click service nsw come update opti...,-27.6167,152.7667,Queensland,2021-12-13 22:21:03,0,go click service come update option click yes ...
4,1470359518949167106,@Alannahjoynes @DamoMK @OptusStadium You can l...,link medicare account one state checkin apps r...,-27.6167,152.7667,Queensland,2021-12-13 22:46:41,0,link account one state really difficult scan s...
...,...,...,...,...,...,...,...,...,...
383053,1571943697499160576,"For God's sake: TALK. TALK is not cheap, talk...",sake talk talk cheap talk necessary noted done...,-34.4331,150.8831,New South Wales,2022-09-20 05:25:57,-1,
383054,1571946352741056512,@drnathimdladla the retired doctors in this ho...,retired household horror everything good profe...,-36.7500,144.2667,Victoria,2022-09-20 05:36:30,-1,
383055,1571951090333261824,"@WillieHandler Never, it beeps to allow the ca...",never allow cancer causing micro open,-27.5667,151.9500,Queensland,2022-09-20 05:55:20,1,
383056,1571951183098421250,CASE STUDY 3: Drooping of Face A 33-year-old f...,case study drooping face female comes clinic a...,-34.4331,150.8831,New South Wales,2022-09-20 05:55:42,-1,
383057,1571952086342070272,@TheRealHoarse @tedcruz If only the parents of...,used contraception access legal clinic,-34.4331,150.8831,New South Wales,2022-09-20 05:59:17,1,

In [9]:
df['date'] = pd.to_datetime(df['date'])

In [13]:
# df[df.date < '2022-09-19 00:00:00']
df.to_csv('pre-race-rds-data.csv')

In [14]:
# Writing to new database

In [16]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [17]:
pw = "#Sentimentdash2022"

connection = create_db_connection("database-1.cluster-cdktmkgslus1.ap-southeast-2.rds.amazonaws.com", "admin", pw, "sentimentDB")

MySQL Database connection successful

In [18]:
engine = create_engine(f'mysql+pymysql://admin:{pw}@database-1.cluster-cdktmkgslus1.ap-southeast-2.rds.amazonaws.com/sentimentDB')


def insert_on_duplicate(table, conn, keys, data_iter):
    insert_stmt = insert(table.table).values(list(data_iter))
    on_duplicate_key_stmt = insert_stmt.on_duplicate_key_update(insert_stmt.inserted)
    conn.execute(on_duplicate_key_stmt)

In [ ]:
df = df.drop(['cleaned_tweet'], axis=1)

In [24]:
df.to_sql('tweet', con=engine, if_exists='append', index=False, chunksize = 1000, method=insert_on_duplicate)