In [1]:
import mysql.connector, twint
import nltk, numpy as np
import string
from string import punctuation
import re
from mysql.connector import Error
from sqlalchemy import create_engine
import pandas as pd
# import modin.pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer

from deep_translator import GoogleTranslator
from sqlalchemy.dialects.mysql import insert
import time
from datetime import datetime
from dateutil import parser

import nest_asyncio
nest_asyncio.apply()

In [2]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
        host=host_name,
        user=user_name,
        passwd=user_password,
        database=db_name
        )
        print("MySQL Database connection successul")
    except Error as err:
        print(f"Error: '{err}'")
    return connection


def execute_query(connection, query):
    cursor = connection.cursor(buffered=True)
    try:
        cursor.execute(query)
        connection.commit( )
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")
        pass

In [12]:
pw = "Sentiment"
connection = create_db_connection("database.cyg6qupmqicu.ap-southeast-2.rds.amazonaws.com", "admin", pw, "HTL_SENTIMENT")

df = pd.read_sql("SELECT * FROM tweet;", con=connection)
connection.close()
df.head()

MySQL Database connection successul

,id,original_tweet,tweet,lat,lng,place,date,sentiment,cleaned_tweet
0,1470219245141172224,@melblawyer26 @GiselleWak Perhaps if you had s...,perhaps studied medicine instead law comment w...,-27.6167,152.7667,Queensland,2021-12-13 13:29:18,0,perhaps studied medicine instead law comment w...
1,1470230849996181504,I'm at Essential Oils &amp; Wellness with Fion...,im essential oils amp wellness fiona californi...,-36.7500,144.2667,Victoria,2021-12-13 14:15:24,0,essential wellness gully
2,1470305021078081536,@susan_taylor07 Removing franking credits wasn...,removing franking credits wasnt scare campaign...,-27.6167,152.7667,Queensland,2021-12-13 19:10:08,0,removing franking wasnt scare campaign bloody ...
3,1470353065857351684,@Hateonions1 Go to your apps &amp; click on th...,go apps amp click service nsw come update opti...,-27.6167,152.7667,Queensland,2021-12-13 22:21:03,0,go click service come update option click yes ...
4,1470359518949167106,@Alannahjoynes @DamoMK @OptusStadium You can l...,link medicare account one state checkin apps r...,-27.6167,152.7667,Queensland,2021-12-13 22:46:41,0,link account one state really difficult scan s...

In [13]:
df.shape

(384902, 9)

In [14]:
df1 = pd.read_csv('new_data.csv')

In [15]:
df1 = df1[["id","original_tweet","tweet","lat","lng","place","date","sentiment"]]

In [16]:
engine = create_engine('mysql+pymysql://admin:Sentiment@database.cyg6qupmqicu.ap-southeast-2.rds.amazonaws.com/HTL_SENTIMENT')


def insert_on_duplicate(table, conn, keys, data_iter):
    insert_stmt = insert(table.table).values(list(data_iter))
    on_duplicate_key_stmt = insert_stmt.on_duplicate_key_update(insert_stmt.inserted)
    conn.execute(on_duplicate_key_stmt)

In [17]:
df1.to_sql('tweet', con=engine, if_exists='append', index=False, chunksize = 1000, method=insert_on_duplicate)